.logo-spacing {
    padding-top: 1px;
}

.title-spacing {
    padding-top: 0px;
}

/* Reduce top padding/margin */
.block-container {
    padding-top: 1rem !important;
}

header {
    padding-top: 0 !important;
}

